<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="./vue.js"></script>
    <title>V-for 案例</title>
</head>
<body>
    <h1>v-for指令用法</h1>
    <hr>
    <div id="app">
       <ul>
           <li v-for="item in sortItems">
                {{item}}
           </li>
       </ul>
       <ul>
            <li v-for="(student,index) in sortStudents">
                {{index+1}}: {{student.name}} -- {{student.age}}
            </li>
        </ul>
        <span v-text="message"></span>
        <span v-html="dodo"></span>
        <p>
            本次得分{{score}}
            <button v-on:click="add">加分</button>
            <button v-on:click="down">减分</button><br>
            <input type="text" v-on:keyup.13="onEnter" v-model="score2"><br>
            <p>{{message}}asd</p>
            <input type="text" v-model="message">
            <input type="text" v-model.lazy="message">
            <input type="text" v-model.number="message">
            <input type="text" v-model.trim="message">
            <hr>
            <textarea name="" id="" cols="30" rows="10" v-model="message"></textarea><br>
            <input type="checkbox" v-model="isTrue">
            <span>{{isTrue}}</span><br>
            <input type="checkbox" value="zy" v-model="web_name">
            <span>zy</span>
            <input type="checkbox" value="zp" v-model="web_name">
            <span>zp</span>
            <input type="checkbox" value="zr" v-model="web_name">
            <span>zr</span>
            <p>{{web_name}}</p><hr>
            <input type="radio" value="男" v-model="sex">
            <span>男</span>
            <input type="radio" value="女" v-model="sex">
            <span>女</span>
            <p>您选择的是  {{sex}}</p><br>
            <div v-bind:class="className">造作啊</div>
            <div :class="{classA:success}">来啊</div>
            <hr>
            <input type="checkbox" v-model="success">
            <span>success={{success}}</span>
            <div :class="success?classA:classB">三元运算符</div>
            <div :style="{color:red,fontSize:font}">绑定style</div>
            <div :style="styleObject">绑定style</div>
        </p>
    </div>
    <style>
        .classA{
            color: red;
        }
        .classB{
            font-size: 150%;
        }
    </style>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
                styleObject:{
                    color:'green',
                    fontSize:'50px',
                },
                red:'red',
                font:'40px',
                className:'classA',
                classA:'classA',
                classB:'classB',
                isTrue: true,
                success: true,
                sex:'',
                score: 0,
                score2: 1,
                web_name:[],
                message: "hello world",
                dodo:'<h2>sda</h2>',
                items:[20,23,18,65,3,19,54,56,41],
                students:[
                    {name:'zy',age:18},
                    {name:'zp',age:19},
                    {name:'zT',age:17}
                ]

            },
            computed:{
                sortItems:function(){
                    return this.items.sort(sortNumber)
                    
                },
                sortStudents:function(){
                    return sortByKey(this.students,'age')
                }
            },
            methods:{
                add:function(){
                    this.score++;
                },
                down:function(){
                    this.score--
                },
                onEnter:function(){
                    this.score = this.score + parseInt(this.score2)
                }
            }
        })
        function sortNumber (a,b){
            return a-b
        }
        function sortByKey(array,key){
            return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return x-y;
        });
    }
</script>
</body>
</html>